![uSkyblock-Revived](http://i.imgur.com/JbSV18m.png)

Once a build has been obtained.

Make sure to check the following.

* `plugin.yml` has the right version.
* `config.yml` is the right version, and will do what is expected when upgrading existing installations.
* version is both tagged and jar-files exist in the GitHub Release
  * Post on Spigot
  * Post on DevBukkit